/* Importation de la police Poppins depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* Définition des variables racines pour les couleurs */
:root {
    --blanche: #ffff;      /* Couleur blanche */
    --noir: #222;          /* Couleur noire */
    --primaire: #007bc4;   /* Couleur primaire */
    --grise: #888;         /* Couleur grise */
}

/* Réinitialisation des marges et des rembourrages globalement */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Configuration de la boîte pour le modèle de boîte border-box et la taille de police de base du document */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px ; 62.5% facilite l'utilisation des rem */
}

/* Style du corps de la page */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--noir);
    background-color: var(--blanche);
}

/* Réinitialisation des styles de liste pour les éléments ul et li */
ul,
li {
    list-style: none;
}

/* Style des liens */
a {
    text-decoration: none;
    color: inherit;
}

/* Réglage de la largeur maximale et de la marge automatique pour le conteneur principal */
img {
    max-width: 100%;
}

/* Style de la section promotionnelle */
.promo {
    background-color: var(--primaire);
    text-align: center;
    color: var(--blanche);
    padding: 0.5rem 0;
}

/* Style du conteneur principal */
.container {
    max-width: 114rem;
    margin: 0 auto;
}

/* Media query pour les écrans de largeur maximale de 1200px */
@media only screen and (max-width: 1200px) {
    .container {
        padding: 0 3rem;
    }
}

/* Style de la barre de navigation */
.navigation {
    height: 7rem;
    justify-content: space-between;
}

/* Classe d-flex pour afficher les éléments en ligne avec align-items centré */
.d-flex {
    display: flex;
    align-items: center;
}

/* Style de la liste de navigation */
.nav_list {
    display: flex;
    align-items: center;
}

/* Style des éléments de la navigation */
.nav-item {
    margin-right: 20px;
}

/* Style des icônes dans la navigation */
.icons {
    display: flex;
    align-items: center;
}

.icons div {
    margin-right: 10px;
}

/* Style de l'icône1, initialement masquée */
.icon1 {
    display: none;
}

/* Style de la section menu, initialement masquée */
.menu .top {
    display: none;
}

/* Style du logo */
.logo {
    font-weight: 700;
    font-size: 2rem;
    padding: 0rem 1.5rem;
}

.logo span {
    font-size: 3rem;
    color: var(--primaire);
}

/* Style des éléments de la navigation sauf le dernier élément */
.nav-item:not(:last-child) {
    margin: 0.5rem;
}

/* Style du premier élément de la navigation */
.nav-item:first-child .nav-link {
    color: var(--primaire);
}

/* Style des liens de la navigation */
.nav-link {
    padding: 0 1rem;
    transition: all 300ms ease-in-out;
}

/* Style du survol des liens de la navigation */
.nav-link:hover {
    color: var(--primaire);
}

/* Style des icônes dans la navigation */
.nav .icons div {
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

/* Style des icônes sauf le dernier dans la navigation */
.nav .icons div:not(:last-child) {
    margin-right: 0.5rem;
}

/* Style du survol des icônes dans la navigation */
.nav .icons:hover {
    color: var(--primaire);
}

/* Style du dernier icône dans la navigation */
.nav .icons div:last-child {
    position: relative;
}

/* Style du texte dans le dernier icône de la navigation */
.nav .icons div span {
    position: absolute;
    top: -0.5rem;
    right: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--blanche);
    background-color: var(--primaire);
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
}

/* Classe pour aligner au centre */
.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media query pour les écrans de largeur maximale de 768px */
@media only screen and (max-width: 768px) {
    .navigation {
        padding: 1rem 0;
    }

    /* Style du menu pour les écrans de largeur maximale de 768px */
    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--blanche);
        height: 100%;
        width: 80%;
        max-width: 45rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: all 500ms ease-in-out;
        z-index: 100;
    }

    /* Style de l'icône1 pour les écrans de largeur maximale de 768px */
    .icon1 {
        display: block;
        font-size: 3rem;
        cursor: pointer;
    }
    
    /* Masquer les icônes pour les écrans de largeur maximale de 768px */
    .icons {
        display: none;
    }

    /* Style du texte du logo pour les écrans de largeur maximale de 768px */
    .logo span {
        color: var(--primaire);
    }

    /* Style du texte du logo pour les écrans de largeur maximale de 768px */
    .logo a {
        font-size: 1.6rem;
        font-weight: 400;
    }

    /* Style de la section supérieure du menu pour les écrans de largeur maximale de 768px */
    .menu .top {
        display: block;
        position: relative;
        background-color: var(--primaire);
        width: 100%;
        height: 6rem;
        color: var(--blanche);
    }

    /* Style du texte et de l'icône dans la section supérieure du menu pour les écrans de largeur maximale de 768px */
    .top span {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }

    /* Style de l'icône dans la section supérieure du menu pour les écrans de largeur maximale de 768px */
    .top span i {
        font-size: 3rem;
    }

    /* Style de la liste de navigation pour les écrans de largeur maximale de 768px */
    .nav_list {
        flex-direction: column;
        align-items: start;
        padding: 2rem 0;
    }

    /* Style des éléments de navigation pour les écrans de largeur maximale de 768px */
    .nav-item {
        margin: 0 0 2rem 0;
    }

    /* Style des liens de navigation pour les écrans de largeur maximale de 768px */
    .nav-link {
        padding: 0.7rem;
    }

    /* Style de la section "monter" du menu pour les écrans de largeur maximale de 768px */
    .menu .monter{
        left: 0;
    }
}

/* Style de la bannière */
.banniere{
    height: calc(100vh - 7rem);
    background-color: beige;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

/* Style du contenu de la bannière */
.banniere-contenu{
    height: 100%;
}

/* Style de la partie gauche du contenu de la bannière */
.banniere-contenu .gauche{
    margin-top: -5rem;
}

.banniere-contenu .gauche .Sous-titre{
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

.banniere-contenu .gauche .titre{
    line-height: 1.3;
    font-weight: 600;
    text-align: left;
    font-size: 4rem;
}

.banniere-contenu .gauche .couleur{
    color: var(--primaire);
}

.banniere-contenu .gauche h5{
    font-weight: 400;
    margin-top: 2rem;
}

.btn{
    display: inline-block;
    border-radius: 5rem;
    background-color: var(--primaire);
    padding: 1.3rem 5rem;
    color: var(--blanche);
    font-weight: 600;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
    margin-top: 4rem;
}

/* Style de la partie droite du contenu de la bannière */
.banniere-contenu .droit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Style de l'image dans la partie droite de la bannière */
.banniere-contenu .droit img {
    max-width: 100%;
    max-height: 100%;
}

/* Position de l'image dans la partie droite de la bannière */
.banniere-contenu .droit img{
    position: absolute;
    bottom: 10;
    right: 17%;
    width: 500px;
}

/* Styles pour les écrans de largeur maximale de 996px */
@media only screen and (max-width: 996px) {
    /* Ajustement de la taille de la police pour les titres dans la bannière */
    .banniere-contenu .gauche .titre {
        font-size: 3rem;
    }

    /* Ajustement du rembourrage des boutons */
    .btn {
        padding: 1.2rem 4rem;
    }

    /* Ajustement de la largeur de l'image dans la bannière */
    .banniere-contenu .droit img {
        width: 90%;
    }
}

/* Styles pour les écrans de largeur maximale de 567px */
@media only screen and (max-width: 567px) {
    /* Ajustement de la hauteur de la bannière en fonction de la vue à 90% moins 7rem */
    .banniere {
        height: calc(90vh - 7rem);
    }

    /* Ajustement de la marge supérieure et de la taille du titre dans la bannière gauche */
    .banniere-contenu .gauche {
        margin-top: -20rem;
    }
    .banniere-contenu .gauche .titre {
        margin-bottom: 1rem;
    }

    /* Ajustement de la largeur, hauteur et position de l'image dans la bannière droite */
    .banniere-contenu .droit img {
        width: 100%;
        height: 35rem;
        right: 0;
    }
}

/* Styles pour les sections avec une rembourrage de 10rem en haut */
.section {
    padding: 10rem 0 0 0;
}

/* Styles pour les services avec une bordure, rembourrage, et disposition en colonne */
.service {
    border: 1px solid #ccc;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Styles pour le centrage des éléments à l'intérieur des services en utilisant une grille */
.service-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 5rem;
}

/* Styles pour l'icône dans chaque service avec un fond, une taille, et une position absolue */
.service .icon {
    background-color: var(--primaire);
    height: 80px;
    width: 80px;
    position: relative;
    border-radius: 50%;
}

/* Styles pour l'élément i à l'intérieur de l'icône avec une taille, une position et une couleur */
.service .icon i {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    color: var(--blanche);
    transform: translate(-50%, -50%);
}

/* Styles pour le texte dans chaque service avec une taille et une couleur */
.service .text {
    font-size: 1.5rem;
    color: #777;
}

/* Styles pour les titres avec une taille, alignement, et une marge en bas */
.titre {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 600;
}

/* Styles spécifiques pour les éléments h1 à l'intérieur des titres avec une pondération différente */
.titre h1 {
    font-weight: 400;
}

/* Styles pour la couleur spécifique dans les titres */
.titre span {
    color: var(--primaire);
}

/* Styles pour la disposition en grille des produits avec un écart entre les éléments */
.centre-produit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 5rem;
    margin-bottom: 5rem;
}

/* Styles pour chaque produit avec un alignement, une transition et un curseur */
.produit {
    text-align: center;
    padding-bottom: 1rem;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

/* Styles pour l'effet de survol avec une ombre */
.produit:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour la transition de l'image en survol avec une échelle */
.produit img {
    transition: all 500ms ease-in-out;
}

/* Styles spécifiques pour l'effet de survol sur l'image avec une échelle augmentée */
.produit:hover img {
    transform: scale(1.2);
}

.produit .img-cover{
    overflow: hidden;
}
/* Ajoute un espace entre la section "Livraison gratuite, Retours gratuits, Paiement sécurisé" et la section "Acheter maintenant" */
.livraison-section {
    margin-bottom: 2rem;
}

/* Ajoute un espace entre la section "Nouveaux arrivages" et la section "Livraison gratuite, Retours gratuits, Paiement sécurisé" */
.nouveaux-arrivages {
    margin-bottom: 2rem;
}

.populaire{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 4vw);
    gap: 2rem;
}

.populaire .article{
    overflow: hidden;
}

.categorie img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all 500ms ease-out;
}

.populaire .art1 img{
    object-fit: fill;
}

.populaire img:hover{
    transform: scale(1,2);
}